.pice {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 0 40px 30px;
  cursor: pointer;
}

.discription {
  width: 240px;
  display: flex;
  justify-content: center;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
