.pice {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 0 40px 30px;
  cursor: pointer;
  position: relative;
}

.discription {
  width: 240px;
  display: flex;
  justify-content: center;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.count{
position: absolute;
top: 0;
right: 0;
width: 32px;
height: 32px;
border-radius: 50%;
background-color: #4C4CFF;
font-family: Iceland;
font-size: 28px;
font-style: normal;
font-weight: 400;
letter-spacing: 0em;
text-align: center;
padding:15px auto 0;

}
