.ingredients {
  width: 600px;
}

.list {
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  height: 750px;
  margin: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  background: #8585ad;
  border-radius: 10px;
}
