
.icon{
    margin: 0 10px 0 0;
   }

.link {
    display: flex;
    text-decoration: none;
    color:#8585AD;
    justify-content: space-between;
}

.link:hover {
 color:#F2F2F3;
}

.link:nth-of-type(2n){
    margin-right: 80px;
}



