.header {
  width: 1920px;
  background-color: #1c1c21;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 55px;
  position: fixed;
  z-index: 1;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
  margin: 20px 0 0 0;
}

.logo {
  width: 550px;
}
